<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href="../../styles/hw2/style-page1.css">
	<title>Palo Alto</title>
	
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	
</head>
<body>
	
<wrapper class = "wrapper">	
	<header class = "header">
			<a class = "header__logo-link logo" href="index.html">
					<img class="logo" src="../../images/hw2/logo.png" alt="Error">
			</a>
			<nav class="nav">
				<ul class = "nav__ul">
					<li class = "nav-ul__link">
					<a class = "nav__li-link link-hover"  href="#">
					<span class = "text-link">HOME</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#"><span class = "text-link">ABOUT</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#">
					<span class = "text-link">ARCHIVE</span></a></li>
					
					<li class = "nav-ul__link">
						<a class = "nav__li-link" href="#">
						<span class = "text-link">CONTACT</span></a></li>
					
					<li class = "nav-ul__link">
					<a class = "nav__li-link" href="#">
					<img  src="../../images/hw2/search.png" alt="Error">
					</a></li>
				</ul>
			</nav>
	</header>
	
	<main class = "main">
		<div class = "section1">
			<div class = "booket-s1 booket">
				<div class = "booket__span">I Do Travel</div>
			</div>
			
			
		</div>
		
		<img class = "image-maount" src="../../images/hw2/mount.jpg" alt="">
		<div class = "section2">
			<div class = "booket-s2 booket">
				<div class = "booket__span">I Do Observe</div>
			</div>
		</div>
		
		<div class = "section3">
			<div class = "booket-s3 booket">
				<div class = "booket__span">I Do Reflect</div>
			</div>
		</div>
		
		
	</main>
</wrapper>	
	
	<footer class = "footer">
		
	</footer>
	
	
</body>
</html>