@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
	margin: 0;
	padding: 0;
}
html{
	font-family: 'Playfair Display', sans-serif; 
}


body{
	background: url('#') no-repeat 50% 0 #FFF;
	padding: 70px 0;
	height: 100%;
	position:relative; 
 	min-height:100%;
	alink:"#626262";
	link: #626262;
}
main{
	padding-bottom: 100px;
}

a {
	text-decoration: none;
	color:  #B4AD9E;
}

.wrapper, .article{
	width: 1063px;
	margin: 0 auto;	
}
.style-text-ubuntu{
	font-family: url('https://fonts.googleapis.com/css?family=Ubuntu');
}
.header{
	height: 80px;
}
.header__logo{
	float: left;
	padding: 0;
	margin-top: 20px;
}
.nav{
	float: right;
	clear: right;
	padding: 0px;
	margin-top: 30px;
}
.nav__ul{
	list-style: none;
}
.nav__link{
	float: right;
	margin-left: 100px;
	
}
.article__image1{
	margin-bottom: 98px;
}
			/*Каркас облости текс*/

.text-style-h{
	color: #626262;
}

.container{
	width: 1063px;
	margin-top: 98px;
	
}
.textspace{
	width: 725px;
	display: inline-block;
}

.stextspace_hThePerfect {
	padding-top: 15px;
	padding-bottom: 20px;
	text-indent: 20em;
	font-size: 20pt;
	color: #626262;
}
#image2, #image3, #image4{
	width: 725px;
	height: 460px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#image3, #image4{
	margin-top: 0px;
}

#em-text{
	margin-left: 15px;
}

.share-icons {
	width: 725px;
	
}

#shareimg1{
	font-family: 'Ubuntu', sans-serif;
}
#shareimgs {
	width: 17px;
	height: 17px;
	margin-top: 24px;
	margin-left: 14px;
	float: right;
	
}
			
			/*Каркас sidebar*/
										
.sidebar{
	width: 300px;
	float: right;
	clear: right;
}

#sidebar__image1{
	margin-bottom: 40px;
	float: right;
}

.about-me {
	width: 300px;
	margin-left:8px;
	
}
.about-me__texthead{
	color: #626262;
	font-size: 16pt;
	font-family: 'Playfair Display', sans-serif;
}
#about-text{
	color: #626262;
	font-size: 10pt;
	margin-top: 10px;
	float: none;
}

.sherebar-article {
	margin-top: 40px;
	float: right;
}
#share-text{
	color: #626262;
	font-family: 'Ubuntu';
}

.topposts-sidebar{
	margin-top: 75px;
	margin-left: 30px;
}
.topposts-sidebar__div_h {
	margin-bottom: 38px;
}
.topposts-sidebar__h {
	color: #B4AD9E;
}

.list-sidebar{
	color: #B4AD9E;
}
.list-sidebar__li {
	color: #626262;
	margin-bottom: 20px;
}
.list-sidebar__comments {
	font-size: 12pt;
	font-family: 'Ubuntu';
	color:#B8B2A4;
}
.ident-comments-list {
	margin-bottom: 30px;
}
.list-sidebar__comments {
	margin-bottom: 20px;
}

/*Каркас BANER*/

.baner {
	width: 250px;
	height: 250px;
	margin-top: 80px;
}


/*Каркас FOOTER*/

.footer {
	height: 95px;
	
	 position: absolute;
 	 bottom: 0;
	 width: 100%;
	 background: #D9D9D9;
}

.footer-full-side {
	height: 95px;
	width: 1063px;
	margin: auto;
	position: relative;
	
}
.footer-left-side {
	width: 530px;
	float: left;
	color: black;
}
.footer-right-side {
	width: 533px;
	float: right;
}
.left-link-footer {
	margin-top: 40px;
}
.left-link-footer__link {
	display: inline; /* Отображать как строчный элемент */
    margin-right: 10px;
}

#share-text-footer{
margin-right: 20px;	
}
.left-link-footer__link-footer{
	display: inline; /* Отображать как строчный элемент */
    margin-right: 25px;
}



